@import '../colors.scss';
@import '../mixins.scss';

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

footer {
    width: 100vw;
    padding: 0.8rem;
    background-color: transparent;
    color: $jet;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(#000000, $alpha: 0.1);

    
    @include respond(sm) {
        font-size: 1.3rem;
    }

    @include respond(md) {
        font-size: 1.6rem;
    }

    @include respond(lg) {
        font-size: 1.9rem;
    }

    @include respond(xl) {
        font-size: 1rem;
    }
}