@import '../resposive.scss';

.weather-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 5rem 0 2rem 0;
    color: $jet;


    span {
        font-size: 1.2rem;
    }

    .city-name {
        font-size: 2rem;
        font-weight: 500;
        z-index: 99;
    }

    .temperature-container {
        position: relative;

        p {
            position: relative;
            font-weight: 700;
            font-size: 3rem;
            z-index: 999;
        }

        img {
            z-index: 1;
            width: 10rem;
            right: -3.5rem;
            top: -4.5rem;
            position: absolute;   
        }
    }
}

.weather-grid {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include respond(sm) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .full-width {
        grid-column: span 2;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        padding: 0.5rem;
        width: 80vw;
        margin: auto;
        background-color: $secondary;

        @include respond(sm) {
            width: 100%;
            padding: 2rem;
        }

        h3 {
            text-align: center;
            font-size: 1.8rem;
            font-weight: 800;
            margin-bottom: 1rem;
        }

        span {
            font-weight: 800;
        }
    }
}